{{#if controllers.post.isLoaded}}
  {{#view App.AlertBoxView isPublishedBinding="controllers.post.published"}}
    This post is {{#unless controllers.post.published}}not{{/unless}} published.
  {{/view}}

  <h4>{{controllers.post.title}}</h4>
  <p class="truncate">{{controllers.post.body}}</p>
{{else}}
  <p>Loading</p>
{{/if}}

{{#linkTo post.edit class='secondary button'}}Edit{{/linkTo}}
<a {{action deletePost controllers.post.content}} class="alert button">Delete</a>

{{outlet "navigation"}}
{{outlet}}
