<form {{action save content on="submit"}}>
  <label for="post_title" class="control-label">Title</label>
  {{view Em.TextField valueBinding="title" id="post_title" placeholder="Title"}}

  <label for="post_body" class="control-label">Body</label>
  {{view Em.TextArea valueBinding="body" id="post_body" class="Body"}}

  <label>
    {{view Ember.Checkbox checkedBinding="published"}} Published
  </label>

  <button type="submit" class="button">Save</button>
  {{#unless isNew}}
    <button {{action delete content}} class="alert button">Delete</button>
  {{/unless}}
  <a {{action cancel content}} class="secondary button">Cancel</a>
</form>

