<div class='six columns'>
  <a {{action newPost href=true}} class='button'>New Post</a>
  <ul class='posts'>
    {{#each content}}
      <li>
        <a {{action showPost this href=true}}>{{title}}</a>
        <a {{action deletePost this}} class="delete-post">Delete</a>
      </li>
    {{/each}}
  </ul>
</div>
<div class="six columns">
  {{outlet}}
</div>
