<div class='six columns'>
  <a {{action newPost href=true}} class='button'>New Post</a>
  <ul class='posts'>
    {{#each controller}}
      <li>
        <div class="radius panel post">
          {{#linkTo "posts.show" this}}<img {{bindAttr src="imageUrl"}}/>{{/linkTo}}
          <a {{action openModal this}} class="zoom-post secondary tiny button">Zoom</a>
          <a {{action deletePost this}} class="delete-post tiny button">Delete</a>
        <div>
      </li>
    {{/each}}
  </ul>
</div>
<div class="six columns">
  {{outlet}}
</div>
