<div class='six columns'>
  <a {{action newPost href=true}} class='button'>New Post</a>
  <ul class='posts'>
    {{#each content}}
      <li>
        <div class="radius panel post">
          <a {{action showPost this href=true}}><img {{bindAttr src="imageUrl"}}/></a>
          {{#view App.ZoomPostView contentBinding="this"}}
            <a class="zoom-post secondary tiny button">Zoom</a>
          {{/view}}
          <a {{action deletePost this}} class="delete-post tiny button">Delete</a>
        <div>
      </li>
    {{/each}}
  </ul>
</div>
<div class="six columns">
  {{outlet}}
</div>
