<div class="panel">
  {{#if isLoaded}}
    <h4>{{title}}</h4>
    <p>{{body}}</p>
    <p><b>Published:</b>{{published}}</p>
  {{else}}
    <p>Loading</p>
  {{/if}}

  <a {{action editPost content href=true}} class='secondary button'>Edit</a>
  <a {{action deletePost content}} class="alert button">Delete</a>

  {{outlet "navigation"}}
  {{outlet}}
</div>
